.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
}

.modal_is-opened {
  visibility: visible;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: 16px;
  color: #212121b2;
  gap: 8px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  border-color: #21212166;
  border-width: 1px;
  padding: 16px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
}

.modal__input:hover {
  border-color: #212121;
  cursor: pointer;
}

.modal__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 10px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
